html {
    width: 100%;
    height: 100%;
    overflow: auto;
}
body {
    width: 100%;
    height: 100%;
}
.defaultLoaderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.5);
}
.defaultLoader i {
    color: #017a7a;
}
.v-main__wrap{
    display:flex;
    flex-direction: row;
}