<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${bookItTitle}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/vuetify/2.6.2/dist/vuetify.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/index/index.css}"/>

    <th:block th:if="${debug}">
        <script th:src="@{/webjars/vue/2.6.14/vue.js}"></script>
    </th:block>
    <th:block th:if="${!debug}">
        <script th:src="@{/webjars/vue/2.6.14/vue.min.js}"></script>
    </th:block>
    <script th:src="@{/webjars/vuetify/2.6.2/dist/vuetify.min.js}"></script>
    <script th:src="@{/webjars/axios/0.24.0/dist/axios.min.js}"></script>

    <script th:src="@{/components/vuetheme.js}"></script>
</head>
<body>

<template th:replace="global/globalLoader"></template>
<template layout:fragment="vue_components"></template>

<div id="index-app" class="defaultLoaderContainer">
    <div class="defaultLoader">
        <i class="fa-solid fa-3x fa-circle-notch fa-spin"></i>
    </div>
</div>
<template id="index-app_tpl">
    <v-app>
        <global-loader></global-loader>
        <v-app-bar app
                   clipped-left
                   class="white--text"
                   color="primary">
            <v-toolbar-title>bookIt</v-toolbar-title>
            <v-spacer></v-spacer>
            <a th:href="${helpLink}" target="_blank"
               title="Help"
               class="mr-3">
                <v-btn icon color="white" elevation="0">
                    <v-icon>fa-solid fa-question</v-icon>
                </v-btn>
            </a>
            <v-menu sec:authorize="isAuthenticated()"
                    bottom
                    min-width="200px"
                    offset-y
                    class="mt-2">
                <template v-slot:activator="{ on }">
                    <v-btn icon
                           outlined
                           color="white"
                           v-on="on">
                        <span>PH</span>
                    </v-btn>
                </template>
                <v-card>
                    <v-list-item-content class="justify-center">
                        <div class="text-center">
                            <v-avatar color="primary white&#45;&#45;text" class="mb-2">
                                <span>PH</span>
                            </v-avatar>
                            <h3>Pascal Harreuther</h3>
                            <p class="text-caption mt-1 mb-2">
                                pascal.harreuther@gmail.com
                            </p>
                            <v-btn block
                                   color="primary"
                                   depressed
                                   text
                                   tile
                                   class="text-capitalize">
                                <v-icon small class="mr-1">fa-solid fa-user-gear</v-icon>
                                Edit Account
                            </v-btn>
                            <v-btn block
                                   color="primary"
                                   depressed
                                   text
                                   tile
                                   class="text-capitalize">
                                <v-icon small class="mr-1">fa-solid fa-sign-out</v-icon>
                                Sign Out
                            </v-btn>
                        </div>
                    </v-list-item-content>
                </v-card>
            </v-menu>
            <v-dialog sec:authorize="!isAuthenticated()"
                      width="400"
                      v-model="loginOverlay">
                <template v-slot:activator="{on, attrs}">
                    <v-btn color="white"
                           tile
                           outlined
                           elevation="0"
                           class="text-capitalize"
                           @click="loginOverlay = true"
                           v-on="on"
                           v-bind="attrs">
                        Login
                    </v-btn>
                </template>
                <v-card light
                        ref="form">
                    <v-card-title class="pa-2 white--text primary">
                        Login
                    </v-card-title>
                    <!--<v-divider></v-divider>
                    <v-card-subtitle>
                        Login with your email adress and password
                    </v-card-subtitle>-->
                    <v-card-text class="pt-2 pb-1">
                        <v-text-field
                                ref="user"
                                v-model="loginData.user"
                                label="User"
                                autocomplete="off"
                                required
                                clearable
                                small
                                clear-icon="fa-solid fa-xmark fa-sm"
                                prepend-icon="fa-solid fa-user fa-sm"
                        ></v-text-field>
                        <v-text-field
                                ref="password"
                                v-model="loginData.password"
                                required
                                label="Password"
                                autocomplete="off"
                                clearable
                                small
                                clear-icon="fa-solid fa-xmark fa-sm"
                                prepend-icon="fa-solid fa-key fa-sm"
                                :append-icon="showLoginPassword ? 'fa-solid fa-eye fa-sm' : 'fa-solid fa-eye-slash fa-sm'"
                                :type="showLoginPassword ? 'text' : 'password'"
                                @click:append="showLoginPassword = !showLoginPassword"
                        ></v-text-field>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions align-right>
                        <v-btn @click="loginUser"
                               color="primary"
                               tile
                               block
                               elevation="0"
                               class="text-capitalize"
                               :loading="loginUserLoading"
                               text>
                            <v-icon small class="mr-2">fa-solid fa-arrow-right-to-bracket</v-icon>
                            Login
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-app-bar>
        <v-navigation-drawer app
                             clipped
                             d-flex flex-column justify-space-between permanent>
                             <!--:mini-variant.sync="minifyNavigation"-->

            <v-list nav
                    dense>
                <v-list-item-group
                        link
                        v-model="activeNavigationItem"
                        active-class="primary--text text--accent-4">
                        <v-list-item v-for="(navItem, navItemIndex) in navigationItems"
                                     :key="navItemIndex"
                                     :href="navItem.link"
                                     :title="navItem.text">
                            <v-list-item-icon>
                                <v-icon v-text="navItem.icon"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-title v-text="navItem.text"></v-list-item-title>
                        </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>
        <v-main app>
            <v-container layout:fragment="content" fluid color="primary"></v-container>
        </v-main>
        <v-footer app
                  padless
                  fixed
                  color="lightgray primary--text pa-1">
            <v-row>
                <v-col cols="12" class="text-center caption">
                    <v-icon small color="primary">fa-solid fa-copyright</v-icon>
                    {{footerYear}} - {{footerText}}
                </v-col>
            </v-row>
        </v-footer>
    </v-app>
</template>

<script th:inline="javascript">
    let activeNavigationItem = /*[[${activeNavigationItem}]]*/0;

    let paths = {
        login: /*[[@{'/login'}]]*/'/login',
        dashboard: /*[[@{'/dashboard'}]]*/'/dashboard',
        seminars: /*[[@{'/seminars'}]]*/'/seminars',
        administration: /*[[@{'/administration'}]]*/'/administration',
        userManagement: /*[[@{'/users'}]]*/'/users',
        leadership: /*[[@{'/login'}]]*/'/leadership',
    };
    // let messages = {
    //      tfaErrorMessage : /*[[#{tfa.error.message}]]*/'??? errorMessage'
    // };
</script>
<script type="text/javascript" th:inline="javascript" th:src="@{/components/index.js}"></script>
</body>
</html>