<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${bookItTitle}"></title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <index-seminars></index-seminars>
    </div>

    <div layout:fragment="vue_components" th:remove="tag">
        <!--<script th:inline="javascript">
            let dashboardModel = /*[[${dashboardModel}]]*/{};
        </script>-->
        <template th:replace="modules/seminars/vue/seminars"></template>
        <script th:src="@{/components/modules/seminars/seminars.js}"></script>
    </div>
</body>
</html>