<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${bookItTitle}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/error/error.css}"/>
</head>
<body>
<div class="error-container">
    <div class="status" th:text="${errorStatusCode}"></div>
    <div class="headline">Oops! An error has occurred</div>
    <div class="content">
        <div th:if="${errorRequestUri != null && errorRequestUri.length > 0}">
            RequestUri: <span th:text="${errorRequestUri}"></span>
        </div>
        <div th:if="${errorMessage != null && errorMessage.length > 0}">
            ErrorMessage: <span th:text="${errorMessage}"></span>
        </div>
        <div th:if="${errorException != null && errorException.length > 0}">
            Exception: <span th:text="${errorException}"></span>
        </div>
    </div>
    <div class="buttongroup">
        <a class="button" th:href="@{/}">
            <i class="fa-solid fa-arrow-rotate-right"></i>
            Reload
        </a>
    </div>
</div>
</body>
</html>