<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${bookItTitle}"></title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <index-dashboard></index-dashboard>
    </div>

    <div layout:fragment="vue_components" th:remove="tag">
        <script th:inline="javascript">
            // let dashboardModel = /*[[${dashboardModel}]]*/{};
        </script>
        <template th:replace="modules/dashboard/vue/dashboard"></template>
        <script th:src="@{/components/modules/dashboard/dashboard.js}"></script>
    </div>
</body>
</html>